# Scraping with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States'

In [3]:
tables = pd.read_html(url)
tables

[                             City                                Building  \
                   Albany Congress                         Albany Congress
 0                Albany, New York                              Stadt Huys
 1              Stamp Act Congress                      Stamp Act Congress
 2              New York, New York                               City Hall
 3      First Continental Congress              First Continental Congress
 4      Philadelphia, Pennsylvania                        Carpenters' Hall
 5     Second Continental Congress             Second Continental Congress
 6      Philadelphia, Pennsylvania                       Independence Hall
 7             Baltimore, Maryland                        Henry Fite House
 8      Philadelphia, Pennsylvania                       Independence Hall
 9         Lancaster, Pennsylvania                             Court House
 10             York, Pennsylvania  Court House (now Colonial Court House)
 11     Philadelphia, Pennsylvania           College Hall[citation needed]
 12  Congress of the Confederation           Congress of the Confederation
 13     Philadelphia, Pennsylvania                       Independence Hall
 14          Princeton, New Jersey                             Nassau Hall
 15            Annapolis, Maryland                    Maryland State House
 16            Trenton, New Jersey                      French Arms Tavern
 17             New York, New York                               City Hall
 18         United States Congress                  United States Congress
 19             New York, New York                            Federal Hall
 20     Philadelphia, Pennsylvania                           Congress Hall
 21           District of Columbia                   United States Capitol
 22               Washington, D.C.                        Blodgett's Hotel
 23               Washington, D.C.                       Old Brick Capitol
 24               Washington, D.C.                   United States Capitol

                        Start date                       End date  \
                   Albany Congress                Albany Congress
 0                   June 19, 1754                  July 11, 1754
 1              Stamp Act Congress             Stamp Act Congress
 2                 October 7, 1765               October 25, 1765
 3      First Continental Congress     First Continental Congress
 4               September 5, 1774               October 26, 1774
 5     Second Continental Congress    Second Continental Congress
 6                    May 10, 1775              December 12, 1776
 7               December 20, 1776              February 27, 1777
 8                   March 5, 1777             September 18, 1777
 9              September 27, 1777             September 27, 1777
 10             September 30, 1777                  June 27, 1778
 11                   July 2, 1778                  March 1, 1781
 12  Congress of the Confederation  Congress of the Confederation
 13                  March 2, 1781                  June 21, 1783
 14                  June 30, 1783               November 4, 1783
 15              November 26, 1783                August 19, 1784
 16               November 1, 1784              December 24, 1784
 17               January 11, 1785                October 6, 1788
 18         United States Congress         United States Congress
 19                  March 4, 1789               December 5, 1790
 20               December 6, 1790                   May 14, 1800
 21              November 17, 1800                August 24, 1814
 22             September 19, 1814               December 7, 1815
 23               December 4, 1815                  March 3, 1819
 24                  March 4, 1819                        Present

                           Duration                            Ref
                    Albany Congress                Albany Congress
 0                          22 days                            [8]
 1               Stamp Act Congress             Stamp Act Congress
 2                          23 days                            [9]
 3       First Continental Congress     First Continental Congress
 4              1 month and 21 days                           [10]
 5      Second Continental Congress    Second Continental Congress
 6      1 year, 7 months and 2 days                           [11]
 7              2 months and 7 days                           [12]
 8             6 months and 13 days                           [13]
 9                            1 day                           [13]
 10            8 months and 28 days                           [13]
 11   2 years, 7 months and 27 days                           [14]
 12   Congress of the Confederation  Congress of the Confederation
 13   2 years, 3 months and 19 days                           [14]
 14             4 months and 5 days                           [14]
 15            8 months and 24 days                           [14]
 16             1 month and 23 days                           [14]
 17   3 years, 11 months and 5 days                           [14]
 18          United States Congress         United States Congress
 19      1 year, 9 months and 1 day                           [14]
 20    9 years, 5 months and 8 days                           [14]
 21   13 years, 9 months and 7 days                           [14]
 22    1 year, 2 months and 18 days                           [15]
 23   3 years, 2 months and 27 days                           [16]
 24  202 years, 1 month and 10 days                           [17]  ,
              State         Capital Since Area (mi2) Population (2019 est.)  \
              State         Capital Since Area (mi2)                 Proper
 0          Alabama      Montgomery  1846      159.8                 198525
 1           Alaska          Juneau  1906     2716.7                  32113
 2          Arizona         Phoenix  1912      517.6                1680992
 3         Arkansas     Little Rock  1821      116.2                 197312
 4       California      Sacramento  1854       97.9                 513624
 5         Colorado          Denver  1867      153.3                 727211
 6      Connecticut        Hartford  1875       17.3                 122105
 7         Delaware           Dover  1777       22.4                  38079
 8          Florida     Tallahassee  1824       95.7                 194500
 9          Georgia         Atlanta  1868      133.5                 506811
 10          Hawaii        Honolulu  1845       68.4                 345064
 11           Idaho           Boise  1865       63.8                 228959
 12        Illinois     Springfield  1837       54.0                 114230
 13         Indiana    Indianapolis  1825      361.5                 876384
 14            Iowa      Des Moines  1857       75.8                 214237
 15          Kansas          Topeka  1856       56.0                 125310
 16        Kentucky       Frankfort  1792       14.7                  27679
 17       Louisiana     Baton Rouge  1880       76.8                 220236
 18           Maine         Augusta  1832       55.4                  18681
 19        Maryland       Annapolis  1694       6.73                  39174
 20   Massachusetts          Boston  1630       89.6                 692600
 21        Michigan         Lansing  1847       35.0                 118210
 22       Minnesota      Saint Paul  1849       52.8                 308096
 23     Mississippi         Jackson  1821      104.9                 160628
 24        Missouri  Jefferson City  1826       27.3                  42838
 25         Montana          Helena  1875       14.0                  32315
 26        Nebraska         Lincoln  1867       74.6                 289102
 27          Nevada     Carson City  1861      143.4                  55916
 28   New Hampshire         Concord  1808       64.3                  43627
 29      New Jersey         Trenton  1784       7.66                  83203
 30      New Mexico        Santa Fe  1610       37.3                  84683
 31        New York          Albany  1797       21.4                  96460
 32  North Carolina         Raleigh  1792      114.6                 474069
 33    North Dakota        Bismarck  1883       26.9                  73529
 34            Ohio        Columbus  1816      210.3                 898553
 35        Oklahoma   Oklahoma City  1910      620.3                 655057
 36          Oregon           Salem  1855       45.7                 174365
 37    Pennsylvania      Harrisburg  1812       8.11                  49528
 38    Rhode Island      Providence  1900       18.5                 179883
 39  South Carolina        Columbia  1786      125.2                 131674
 40    South Dakota          Pierre  1889       13.0                  13646
 41       Tennessee       Nashville  1826      525.9                 670820
 42           Texas          Austin  1839      305.1                 978908
 43            Utah  Salt Lake City  1858      109.1                 200567
 44         Vermont      Montpelier  1805       10.2                   7855
 45        Virginia        Richmond  1780       60.1                 230436
 46      Washington         Olympia  1853       16.7                  46478
 47   West Virginia      Charleston  1885       31.6                  46536
 48       Wisconsin         Madison  1838       68.7                 259680
 49         Wyoming        Cheyenne  1869       21.1                  64235
 50            [18]            [18]  [18]       [18]                   [18]

                       Rank in state(city proper)
     MSA/µSA       CSA Rank in state(city proper)
 0    373290    461516                          3
 1     32113       NaN                          3
 2   4948203   5002221                          1
 3    742384    908941                          1
 4   2363730   2639124                          6
 5   2967239   3617927                          1
 6   1204877   1470083                          3
 7    180786   7209620                          2
 8    387227       NaN                          7
 9   6020364   6853392                          1
 10   974563       NaN                          1
 11   749202    831235                          1
 12   206868    306399                          6
 13  2074537   2457286                          1
 14   699292    877991                          1
 15   231969       NaN                          4
 16    73663    745033                         15
 17   854884       NaN                          2
 18   122302       NaN                          8
 19  2800053   9814928                          7
 20  4873019   8287710                          1
 21   550391       NaN                          5
 22  3654908   4027861                          2
 23   594806    674340                          1
 24   151235       NaN                         15
 25    77414       NaN                          6
 26   336374    357887                          2
 27    55916    637973                          6
 28   151391   8287710                          3
 29   367430  22589036                         10
 30   150358   1158464                          4
 31   880381   1167594                          6
 32  1390785   2079687                          2
 33   128949       NaN                          2
 34  2122271   2525639                          1
 35  1408950   1481542                          1
 36   433903   3259710                          3
 37   577941   1271801                          9
 38  1624578   8287710                          1
 39   838433    963048                          2
 40    20672       NaN                          8
 41  1934317   2062547                          1
 42  2227083       NaN                          4
 43  1232696   2641048                          1
 44      NaN       NaN                          6
 45  1291900       NaN                          4
 46   290536   4903675                         24
 47   257074    776694                          1
 48   664865    892661                          2
 49    99500       NaN                          1
 50     [18]      [18]                       [18]  ,
                Insular area Abr.  Date           Capital  Pop. (2010)  \
 0            American Samoa   AS  1899         Pago Pago         3656
 1                      Guam   GU  1898           Hagåtña         1051
 2  Northern Mariana Islands   MP  1947            Saipan        48220
 3               Puerto Rico   PR  1898          San Juan       395326
 4       U.S. Virgin Islands   VI  1917  Charlotte Amalie        18481

                                                Notes
 0  Pago Pago refers to both a village and a group...
 1              Dededo is the area's largest village.
 2                                                NaN
 3  The oldest continuously inhabited U.S. state o...
 4                                                NaN  ,
                               State        Capital  Date  \
 0      Alabama[27]Statehood in 1819    San Agustín  1565
 1      Alabama[27]Statehood in 1819       Savannah  1733
 2      Alabama[27]Statehood in 1819       Savannah  1755
 3      Alabama[27]Statehood in 1819       Savannah  1776
 4      Alabama[27]Statehood in 1819   Augusta (GA)  1778
 ..                              ...            ...   ...
 468  Wisconsin[61]Statehood in 1848        Madison  1848
 469    Wyoming[62]Statehood in 1890  Lewiston (ID)  1863
 470    Wyoming[62]Statehood in 1890   Yankton (SD)  1864
 471    Wyoming[62]Statehood in 1890       Cheyenne  1869
 472    Wyoming[62]Statehood in 1890       Cheyenne  1890

                                                  Notes
 0     Capital of the Spanish colony of La Florida.[28]
 1    Capital of the British proprietary Colony of G...
 2          Capital of the British Province of Georgia.
 3                    Capitals of the State of Georgia.
 4                    Capitals of the State of Georgia.
 ..                                                 ...
 468                 Capital of the State of Wisconsin.
 469                 Capital of the Territory of Idaho.
 470                Capital of the Territory of Dakota.
 471               Capital of the Territory of Wyoming.
 472                   Capital of the State of Wyoming.

 [473 rows x 4 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteCapitals of the United States by jurisdiction  \
 0  .mw-parser-output .div-col{margin-top:0.3em;co...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteCapitals of the United States by jurisdiction.1
 0  .mw-parser-output .div-col{margin-top:0.3em;co...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ,
                  vteUnited States state-related lists  \
 0   List of states and territories of the United S...
 1                                        Demographics
 2                                             Economy
 3                                         Environment
 4                                           Geography
 5                                          Government
 6                                              Health
 7                                             History
 8                                                 Law
 9                                       Miscellaneous
 10                         Category  Commons  Portals

                vteUnited States state-related lists.1
 0   List of states and territories of the United S...
 1   Population African American Amish Asian Birth ...
 2   Billionaires Budgets Companies Credit ratings ...
 3   Botanical gardens Carbon dioxide emissions Par...
 4   Area Bays Beaches Coastline Elevation Extreme ...
 5   Agriculture commissioners Attorneys general Ca...
 6   Fertility rates Hospitals Human Development In...
 7   Date of statehood Name etymologies Historical ...
 8   Abortion Age of consent Alcohol Dry communitie...
 9   Abbreviations Airports Bus transit systems Cas...
 10                         Category  Commons  Portals  ,
   vteLocation of the capital of the United States  \
 0                              Temporary capitals
 1                               Permanent capital

    vteLocation of the capital of the United States.1
 0  Philadelphia (1776; 1777; 1778–1783; 1791–1800...
 1                      Washington, D.C. (since 1800)  ,
   vteState and territorial capitol buildings in the United States  \
 0                                             States
 1                                        Territories

   vteState and territorial capitol buildings in the United States.1
 0  Alabama Alaska Arizona Arkansas California Col...
 1  American Samoa District of Columbia Guam North...                 ]

#### What we get in return is a list of dataframes for any tabular data that Pandas found.

In [6]:
type(tables)

list

#### We can slice off any of those dataframes that we want using normal indexing.

In [8]:
df = tables[0]
df.head()

,City,Building,Start date,End date,Duration,Ref
,Albany Congress,Albany Congress,Albany Congress,Albany Congress,Albany Congress,Albany Congress
0,"Albany, New York",Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8]
1,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress
2,"New York, New York",City Hall,"October 7, 1765","October 25, 1765",23 days,[9]
3,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress
4,"Philadelphia, Pennsylvania",Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10]

#### Drop all single header rows
`columns.get_level_values(0)` grabs the column names from the first header row

In [10]:
df.columns = df.columns.get_level_values(0)  # name the columns based on the first header row
df = df.loc[df.Ref.str.startswith("[")]  # remove any row that does not have a ref value
df.head()

,City,Building,Start date,End date,Duration,Ref
0,"Albany, New York",Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8]
2,"New York, New York",City Hall,"October 7, 1765","October 25, 1765",23 days,[9]
4,"Philadelphia, Pennsylvania",Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10]
6,"Philadelphia, Pennsylvania",Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",[11]
7,"Baltimore, Maryland",Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,[12]

#### Split column values into two separate columns

In [11]:
columnsplit = df['City'].str.split(", ", expand=True)
df = df.assign(City=columnsplit[0],State=columnsplit[1])
df.head()

,City,Building,Start date,End date,Duration,Ref,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8],New York
2,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,[9],New York
4,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10],Pennsylvania
6,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",[11],Pennsylvania
7,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,[12],Maryland

#### Drop a column

In [12]:
df = df.drop(['Ref'], axis=1)
df.head()

,City,Building,Start date,End date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
2,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
4,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,Pennsylvania
6,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",Pennsylvania
7,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,Maryland

#### Reset an index

In [13]:
df = df.reset_index(drop=True)
df.head()

,City,Building,Start date,End date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
1,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
2,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,Pennsylvania
3,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",Pennsylvania
4,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,Maryland

In [14]:
df.loc[df.State=="New York"]

,City,Building,Start date,End date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
1,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
13,New York,City Hall,"January 11, 1785","October 6, 1788","3 years, 11 months and 5 days",New York
14,New York,Federal Hall,"March 4, 1789","December 5, 1790","1 year, 9 months and 1 day",New York

## DataFrames as HTML

#### Pandas also has a `to_html` method that we can use to generate HTML tables from DataFrames.

In [16]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>City</th>\n      <th>Building</th>\n      <th>Start date</th>\n      <th>End date</th>\n      <th>Duration</th>\n      <th>State</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Albany</td>\n      <td>Stadt Huys</td>\n      <td>June 19, 1754</td>\n      <td>July 11, 1754</td>\n      <td>22\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>New York</td>\n      <td>City Hall</td>\n      <td>October 7, 1765</td>\n      <td>October 25, 1765</td>\n      <td>23\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Philadelphia</td>\n      <td>Carpenters\' Hall</td>\n      <td>September 5, 1774</td>\n      <td>October 26, 1774</td>\n      <td>1\xa0month and 21\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>May 10, 1775</td>\n      <td>December 12, 1776</td>\n      <td>1\xa0year, 7\xa0months and 2\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Baltimore</td>\n      <td>Henry Fite House</td>\n      <td>December 20, 1776</td>\n      <td>February 27, 1777</td>\n      <td>2\xa0months and 7\xa0days</td>\n      <td>Maryland</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>March 5, 1777</td>\n      <td>September 18, 1777</td>\n      <td>6\xa0months and 13\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Lancaster</td>\n      <td>Court House</td>\n      <td>September 27, 1777</td>\n      <td>September 27, 1777</td>\n      <td>1\xa0day</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>York</td>\n      <td>Court House (now Colonial Court House)</td>\n      <td>September 30, 1777</td>\n      <td>June 27, 1778</td>\n      <td>8\xa0months and 28\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Philadelphia</td>\n      <td>College Hall[citation needed]</td>\n      <td>July 2, 1778</td>\n      <td>March 1, 1781</td>\n      <td>2\xa0years, 7\xa0months and 27\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>March 2, 1781</td>\n      <td>June 21, 1783</td>\n      <td>2\xa0years, 3\xa0months and 19\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Princeton</td>\n      <td>Nassau Hall</td>\n      <td>June 30, 1783</td>\n      <td>November 4, 1783</td>\n      <td>4\xa0months and 5\xa0days</td>\n      <td>New Jersey</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Annapolis</td>\n      <td>Maryland State House</td>\n      <td>November 26, 1783</td>\n      <td>August 19, 1784</td>\n      <td>8\xa0months and 24\xa0days</td>\n      <td>Maryland</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Trenton</td>\n      <td>French Arms Tavern</td>\n      <td>November 1, 1784</td>\n      <td>December 24, 1784</td>\n      <td>1\xa0month and 23\xa0days</td>\n      <td>New Jersey</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>New York</td>\n      <td>City Hall</td>\n      <td>January 11, 1785</td>\n      <td>October 6, 1788</td>\n      <td>3\xa0years, 11\xa0months and 5\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>New York</td>\n      <td>Federal Hall</td>\n      <td>March 4, 1789</td>\n      <td>December 5, 1790</td>\n      <td>1\xa0year, 9\xa0months and 1\xa0day</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Philadelphia</td>\n      <td>Congress Hall</td>\n      <td>December 6, 1790</td>\n      <td>May 14, 1800</td>\n      <td>9\xa0years, 5\xa0months and 8\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>District of Columbia</td>\n      <td>United States Capitol</td>\n      <td>November 17, 1800</td>\n      <td>August 24, 1814</td>\n      <td>13\xa0years, 9\xa0months and 7\xa0days</td>\n      <td>None</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Washington</td>\n      <td>Blodgett\'s Hotel</td>\n      <td>September 19, 1814</td>\n      <td>December 7, 1815</td>\n      <td>1\xa0year, 2\xa0months and 18\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Washington</td>\n      <td>Old Brick Capitol</td>\n      <td>December 4, 1815</td>\n      <td>March 3, 1819</td>\n      <td>3\xa0years, 2\xa0months and 27\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Washington</td>\n      <td>United States Capitol</td>\n      <td>March 4, 1819</td>\n      <td>Present</td>\n      <td>202\xa0years, 1\xa0month and 10\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n  </tbody>\n</table>'

#### You may have to strip unwanted newlines to clean up the table.

In [17]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>City</th>      <th>Building</th>      <th>Start date</th>      <th>End date</th>      <th>Duration</th>      <th>State</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Albany</td>      <td>Stadt Huys</td>      <td>June 19, 1754</td>      <td>July 11, 1754</td>      <td>22\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>1</th>      <td>New York</td>      <td>City Hall</td>      <td>October 7, 1765</td>      <td>October 25, 1765</td>      <td>23\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>2</th>      <td>Philadelphia</td>      <td>Carpenters\' Hall</td>      <td>September 5, 1774</td>      <td>October 26, 1774</td>      <td>1\xa0month and 21\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>3</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>May 10, 1775</td>      <td>December 12, 1776</td>      <td>1\xa0year, 7\xa0months and 2\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>4</th>      <td>Baltimore</td>      <td>Henry Fite House</td>      <td>December 20, 1776</td>      <td>February 27, 1777</td>      <td>2\xa0months and 7\xa0days</td>      <td>Maryland</td>    </tr>    <tr>      <th>5</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>March 5, 1777</td>      <td>September 18, 1777</td>      <td>6\xa0months and 13\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>6</th>      <td>Lancaster</td>      <td>Court House</td>      <td>September 27, 1777</td>      <td>September 27, 1777</td>      <td>1\xa0day</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>7</th>      <td>York</td>      <td>Court House (now Colonial Court House)</td>      <td>September 30, 1777</td>      <td>June 27, 1778</td>      <td>8\xa0months and 28\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>8</th>      <td>Philadelphia</td>      <td>College Hall[citation needed]</td>      <td>July 2, 1778</td>      <td>March 1, 1781</td>      <td>2\xa0years, 7\xa0months and 27\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>9</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>March 2, 1781</td>      <td>June 21, 1783</td>      <td>2\xa0years, 3\xa0months and 19\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>10</th>      <td>Princeton</td>      <td>Nassau Hall</td>      <td>June 30, 1783</td>      <td>November 4, 1783</td>      <td>4\xa0months and 5\xa0days</td>      <td>New Jersey</td>    </tr>    <tr>      <th>11</th>      <td>Annapolis</td>      <td>Maryland State House</td>      <td>November 26, 1783</td>      <td>August 19, 1784</td>      <td>8\xa0months and 24\xa0days</td>      <td>Maryland</td>    </tr>    <tr>      <th>12</th>      <td>Trenton</td>      <td>French Arms Tavern</td>      <td>November 1, 1784</td>      <td>December 24, 1784</td>      <td>1\xa0month and 23\xa0days</td>      <td>New Jersey</td>    </tr>    <tr>      <th>13</th>      <td>New York</td>      <td>City Hall</td>      <td>January 11, 1785</td>      <td>October 6, 1788</td>      <td>3\xa0years, 11\xa0months and 5\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>14</th>      <td>New York</td>      <td>Federal Hall</td>      <td>March 4, 1789</td>      <td>December 5, 1790</td>      <td>1\xa0year, 9\xa0months and 1\xa0day</td>      <td>New York</td>    </tr>    <tr>      <th>15</th>      <td>Philadelphia</td>      <td>Congress Hall</td>      <td>December 6, 1790</td>      <td>May 14, 1800</td>      <td>9\xa0years, 5\xa0months and 8\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>16</th>      <td>District of Columbia</td>      <td>United States Capitol</td>      <td>November 17, 1800</td>      <td>August 24, 1814</td>      <td>13\xa0years, 9\xa0months and 7\xa0days</td>      <td>None</td>    </tr>    <tr>      <th>17</th>      <td>Washington</td>      <td>Blodgett\'s Hotel</td>      <td>September 19, 1814</td>      <td>December 7, 1815</td>      <td>1\xa0year, 2\xa0months and 18\xa0days</td>      <td>D.C.</td>    </tr>    <tr>      <th>18</th>      <td>Washington</td>      <td>Old Brick Capitol</td>      <td>December 4, 1815</td>      <td>March 3, 1819</td>      <td>3\xa0years, 2\xa0months and 27\xa0days</td>      <td>D.C.</td>    </tr>    <tr>      <th>19</th>      <td>Washington</td>      <td>United States Capitol</td>      <td>March 4, 1819</td>      <td>Present</td>      <td>202\xa0years, 1\xa0month and 10\xa0days</td>      <td>D.C.</td>    </tr>  </tbody></table>'

You can also save the table directly to a file.

In [18]:
df.to_html('table.html')

In [14]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html