In [5]:
import numpy as np
import pandas as pd

In [6]:
# The statistical module used to run chi square test
import scipy.stats as stats

In [7]:
# Observed data in a (hypothetical) survey of 6000 people 
observed = pd.Series([1500, 1350, 1600, 1550], index=["1", "2", "3", "4"])

In [15]:
# Create a data frame
df = pd.DataFrame([observed]).T
df.head()

      0
1  1500
2  1350
3  1600
4  1550

In [17]:
# Add a column whose default values are the expected values
df[1] = observed.mean()
df.columns = ["observed","expected"]

In [18]:
# Rename the data frame columns
df

   observed  expected
1      1500    1500.0
2      1350    1500.0
3      1600    1500.0
4      1550    1500.0

In [20]:
# View the data frame
cv = stats.chi2.ppf(q=.95,df = len(df) - 1)
cv

7.814727903251179

In [21]:
# Calculate the critical value
stats.chisquare(df['observed'], df['expected'])

Power_divergenceResult(statistic=23.333333333333336, pvalue=3.4411276663397364e-05)

In [ ]:
# Print the critical value

In [ ]:
# Run the chi square test with stats.chisquare()