In [1]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import key_dict
gkey = key_dict['maps']

In [2]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [4]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
# get the google results for each row in the DF
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is Chinese Fast Wok.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is Alma de Cuba.
------------
Retrieving Results for Index 2: czech.
Closest czech restaurant is Br√º Craft & Wurst.
------------
Retrieving Results for Index 3: french.
Closest french restaurant is Del Frisco's Double Eagle Steakhouse.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is Tir na nOg Irish Bar & Grill.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is Zaffron Mediterranean Grill.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Caribbean Delight.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is Balkan Express.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is Amma's South Indian Cuisine.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is McCormick & Schmick's Seafood & Steaks.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is Tir na nOg Irish Bar & Grill.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is Zaffron Mediterranean Grill.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is Davio's Northern Italian Steakhouse.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Ninja Bao.
Missing field/result... skipping.
------------
Retrieving Results for Index 14: jewish.
Closest jewish restaurant is Jewish restaurant.
Missing field/result... skipping.
------------
Retrieving Results for Index 15: korean.
Closest korean restaurant is Sampan.
------------
Retrieving Results for Index 16: lebanese.
Closest lebanese restaurant is Zaffron Mediterranean Grill.
------------
Retrieving Results for Index 17: mexican.
Closest mexican restaurant is Chipotle Mexican Grill.
------------
Retrieving Results for Index 18: new american.
Closest new american restaurant is Dig.
Missing field/result... skipping.
------------
Retrieving Results for Index 19: pakistani.
Closest pakistani restaurant is Nanee's Kitchen.
Missing field/result... skipping.
------------
Retrieving Results for Index 20: polish.
Closest polish restaurant is Famous Franks A-lot.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: russian.
Closest russian restaurant is Ocean Prime.
------------
Retrieving Results for Index 22: scandinavian.
Closest scandinavian restaurant is Harp & Crown.
------------
Retrieving Results for Index 23: scottish.
Closest scottish restaurant is Amuse.
------------
Retrieving Results for Index 24: soul food.
Closest soul food restaurant is Nothing But Love Soulfood Catering #3.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: spanish.
Closest spanish restaurant is Mission Taqueria.
------------
Retrieving Results for Index 26: thai.
Closest thai restaurant is Spice 28.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: turkish.
Closest turkish restaurant is Sahara Grill.
------------
Retrieving Results for Index 28: ukrainian.
Closest ukrainian restaurant is The Pierogie Kitchen.
------------
Retrieving Results for Index 29: vietnamese.
Closest vietnamese restaurant is Pho Street.
Missing field/result... skipping.
------------

In [5]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,Chinese Fast Wok,"1500 John F Kennedy Blvd, Philadelphia",2,2.3
1,cuban,Alma de Cuba,"1623 Walnut St, Philadelphia",3,4.4
2,czech,Br√º Craft & Wurst,"1316 Chestnut St, Philadelphia",2,4.1
3,french,Del Frisco's Double Eagle Steakhouse,"1428-1432 Chestnut St, Philadelphia",4,4.6
4,german,Tir na nOg Irish Bar & Grill,"1600 Arch St, Philadelphia",2,4.2
5,greek,Zaffron Mediterranean Grill,"1625 Chestnut St, Philadelphia",2,4.2
6,haitian,Caribbean Delight,"1124 South St, Philadelphia",1,4.1
7,hungarian,Balkan Express,"2237 Grays Ferry Ave, Philadelphia",2,4.7
8,indian,Amma's South Indian Cuisine,"1518 Chestnut St, Philadelphia",2,4.4
9,indonesian,McCormick & Schmick's Seafood & Steaks,"1 S Broad St, Philadelphia",3,4.1
10,irish,Tir na nOg Irish Bar & Grill,"1600 Arch St, Philadelphia",2,4.2
11,israeli,Zaffron Mediterranean Grill,"1625 Chestnut St, Philadelphia",2,4.2
12,italian,Davio's Northern Italian Steakhouse,"111 S 17th St, Philadelphia",3,4.6
13,japanese,Ninja Bao,1500 JFK Blvd Two Penn Center Suite 6 undergro...,,
14,jewish,Jewish restaurant,"1623 Sansom St, Philadelphia",,
15,korean,Sampan,"124 S 13th St, Philadelphia",2,4.5
16,lebanese,Zaffron Mediterranean Grill,"1625 Chestnut St, Philadelphia",2,4.2
17,mexican,Chipotle Mexican Grill,"1625 Chestnut St Ste F6, Philadelphia",1,3.8
18,new american,Dig,"1616 Chestnut St, Philadelphia",,
19,pakistani,Nanee's Kitchen,"51 N 12th St #2954, Philadelphia",,
20,polish,Famous Franks A-lot,"51 N 12th St, Philadelphia",,
21,russian,Ocean Prime,"124 S 15th St, Philadelphia",4,4.6
22,scandinavian,Harp & Crown,"1525 Sansom St, Philadelphia",3,4.5
23,scottish,Amuse,"1421 Arch St, Philadelphia",4,4.1
24,soul food,Nothing But Love Soulfood Catering #3,"1635 Market St suite 1600, Philadelphia",,
25,spanish,Mission Taqueria,"above Oyster House, 1516 Sansom St 2nd Floor, ...",2,4.5
26,thai,Spice 28,"1228 Chestnut St, Philadelphia",,
27,turkish,Sahara Grill,"1334 Walnut St, Philadelphia",1,4.4
28,ukrainian,The Pierogie Kitchen,"648 Roxborough Ave, Philadelphia",1,4.5
29,vietnamese,Pho Street,"1230 Arch St, Philadelphia",,

### Note the problem here - if the price level is missing, so is the rating!